body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CARDS  */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  text-align: center;
  text-overflow: ellipsis;
  margin: 30px 15px;
  font-size: 18px;
}

.card-img-top {
  width: 100%;
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*  Navbar On Responsiveness  */
.navbar-collapse {
  background-color: #F4F1EA;
  padding: 10px;
}
